<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section class="area-login">
        <div class="login">
            <div><img src="img/QjJe.gif">
                </div>
                <form method="post" action="/efetivar">
                    <h4>Efetuar Login</h4>
                   	<label for="nome">Nome:</label>
                    <input type="text" name="nome" class="form-control" id="nome"
                    placeholder="Digite seu nome" autofocus>
                    <br />
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" class="form-control" id="email"
                    placeholder="Digite seu e-mail" autofocus>
                    <br />
                    <label for="password">Senha:</label>
                    <input type="password" name="senha" class="form-control" id="pwd"
                    placeholder="Digite sua senha">
                    <br />
                    <label for="sexo">Sexo:</label>
                    <select class="form-select" aria-label="sexo">
			 		<option selected>Selecione</option>
			  		<option value="1">Masculino</option>
			  		<option value="2">Feminino</option>			
					</select>
					<br />
                    <div class="bnt.2">
                    <button type="submit" class="bnt bnt-primary">finalizar cadastro</button>
                    </div>
                </form>
                
        </div>
    </section>
    </div>
</body>
</html>